.format {
    background-color: #EBD1A7;
    /* rgb(253, 201, 142) */
    background-image:
        linear-gradient(#eee .05em, transparent .05em);
    background-size: 100% 1.8em;
}


.resultFont {
    font-family: 'cwTeXYen', 'Baloo 2';
}

.infoColor {
    color: rgb(141, 69, 58);
}

.min-wid {
    min-width: 35vw;
}

@media only screen and (max-width:1150px) {
    .min-wid {
        min-width: 25vw;
    }
}

@media only screen and (max-width:750px) {
    .min-wid {
        min-width: 90vw;
    }
}