.profile-modal {
    background-color: rgba(255, 255, 255, 0.555);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-hover,
.cancel-hover {
    background-color: white;
}

.save-hover:hover {
    background-color: rgba(255, 204, 94, 0.788);
}

.cancel-hover:hover {
    background-color: rgba(255, 88, 88, 0.788);
}

.modal-close {
    font-size: 2.7rem;
    font-style: bold;
    cursor: pointer;
}

.modal-close:hover {
    color: gray;
}