.inputBox {
    border-radius: 10px 0 0 10px;
    width: 75%;
    background-color: rgba(248, 248, 248, 0.925);
}

.inputFile {
    border-radius: 10px 0 0 10px;
    width: 71%;
    border: 1px solid rgb(167, 165, 165);
    background-color: rgba(248, 248, 248, 0.925);
}

@media only screen and (max-width: 540px) {
    .inputFile {
        width: 68%;
    }
}

@media only screen and (max-width: 360px) {
    .inputFile {
        width: 65%;
    }
}

.detBtn {
    border: 1px solid rgb(122, 83, 77);
    border-radius: 0 10px 10px 0;
    background-color: rgb(170, 115, 106);
    width: 25%;
    color: rgb(255, 255, 255);
}

.methodBtn {
    border: 2px solid #4d4d4e;
    border-radius: 7px;
    background-color: #666669;
    width: 150px;
    color: rgb(250, 250, 250);
    font-family: "Baloo 2";
}

.urlFont {
    font-family: "Walter Turncoat";
    font-size: 1.3em;
}

.fileFont {
    font-family: "cwTeXYen";
    font-size: 1.2em;
}

button:hover {
    font-weight: bold;
}

.methodBtn:hover {
    border: 2px solid #363636
}

.linkBox {
    width: 50vw;
}

@media only screen and (max-width: 1000px) {
    .linkBox {
        width: 70vw;
    }
}

@media only screen and (max-width: 750px) {
    .linkBox {
        width: 90vw;
    }
}

@media only screen and (max-width: 400px) {
    .fileFont {
        font-size: 1.1em;
    }

    .urlFont {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 360px) {
    .fileFont {
        font-size: 1em;
    }

    .urlFont {
        font-size: 0.9em;
    }
}

.form {
    background-color: #cac9c8;
    background-image: radial-gradient(circle at 100% 150%,
            #cac9c8 24%,
            white 24%,
            white 28%,
            #cac9c8 28%,
            #cac9c8 36%,
            white 36%,
            white 40%,
            transparent 40%,
            transparent),
        radial-gradient(circle at 0 150%,
            #cac9c8 24%,
            white 24%,
            white 28%,
            #cac9c8 28%,
            #cac9c8 36%,
            white 36%,
            white 40%,
            transparent 40%,
            transparent),
        radial-gradient(circle at 50% 100%,
            white 10%,
            #cac9c8 10%,
            #cac9c8 23%,
            white 23%,
            white 30%,
            #cac9c8 30%,
            #cac9c8 43%,
            white 43%,
            white 50%,
            #cac9c8 50%,
            #cac9c8 63%,
            white 63%,
            white 71%,
            transparent 71%,
            transparent),
        radial-gradient(circle at 100% 50%,
            white 5%,
            #cac9c8 5%,
            #cac9c8 15%,
            white 15%,
            white 20%,
            #cac9c8 20%,
            #cac9c8 29%,
            white 29%,
            white 34%,
            #cac9c8 34%,
            #cac9c8 44%,
            white 44%,
            white 49%,
            transparent 49%,
            transparent),
        radial-gradient(circle at 0 50%,
            white 5%,
            #cac9c8 5%,
            #cac9c8 15%,
            white 15%,
            white 20%,
            #cac9c8 20%,
            #cac9c8 29%,
            white 29%,
            white 34%,
            #cac9c8 34%,
            #cac9c8 44%,
            white 44%,
            white 49%,
            transparent 49%,
            transparent);
    background-size: 100px 50px;
}